{{#modal-dialog 
  close="cancel"
  targetAttachment="center"
  translucentOverlay=true}}
  <div class="dialog-content">
    <div class="dialog-body">
      Please select the difficulty.
    </div>
    <div class="dialog-footer">
      {{#ui/animated-button fillColor=oneColor data=1 clicked=(action "difficultySelected")}} 1 {{/ui/animated-button}}
      {{#ui/animated-button fillColor=twoColor data=2 clicked=(action "difficultySelected")}} 2 {{/ui/animated-button}}
      {{#ui/animated-button fillColor=threeColor data=3 clicked=(action "difficultySelected")}} 3 {{/ui/animated-button}}
      {{#ui/animated-button fillColor=fourColor data=4 clicked=(action "difficultySelected")}} 4 {{/ui/animated-button}}
      {{#ui/animated-button fillColor=fiveColor data=5 clicked=(action "difficultySelected")}} 5 {{/ui/animated-button}}      
    </div>
  </div>  
{{/modal-dialog}}