{{#modal-dialog 
  close="cancel"
  targetAttachment="center"
  translucentOverlay=true}}
  {{#if session.isAuthenticated}}
    <div class="dialog-content">
        <div class="dialog-body">
         {{#each boards as |board index|}}
            {{ui/game-list board=board selectedIndex=selectedIndex index=index gameSelected=(action "gameSelected")}}
         {{/each}}
        </div>
        <div class="dialog-footer">
          {{#ui/animated-button bigButton=true fillColor="#1976D2" clicked=(action "loadGame")}} Load game {{/ui/animated-button}}
          {{#ui/animated-button bigButton=true fillColor="#D2D0D0" clicked=(action "cancel")}} Cancel {{/ui/animated-button}}  
        </div>
      </div>
  {{else}}
    Please sign in before trying to save the game.
  {{/if}}
{{/modal-dialog}}